/*----------------------- ADMIN LOGIN -----------------------*/
#login-background {
    background-image: url('/img/admin_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-container {
    width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #FFE8DA;
}

.login-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    opacity: 0.7;
}

.login_subtitle {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
    color: #493422;
}

.form-login {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 0.5;
    color: black;
    background-image: linear-gradient(to right, #FFBE98,#FFBE98);
    background-clip: padding-box;
    border: 1px solid #493422;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-login {
        transition: none;
    }
}

.form-login[type=file] {
    overflow: hidden;
}

    .form-login[type=file]:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

.form-login:focus {
    color: #493422;
    border-color: #493422;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(73,52,34, 0.25);
}

.login-button {
    background: #493422;
    color: white;
    border-radius: 5px;
    width: 40%;
    line-height: 1.8;
}

/*----------------------- ADMIN LAYOUT -----------------------*/
#header-container {
    background: #8E6745;
    width: 100%;
    padding: 8px 0 8px 0;
}

.notification-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #493422;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.notification-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.avatar {
    border-radius: 5px;
    border: solid 1px #D09B7D;
    padding: 3px;
    width: 50px;
    height: 50px;
}

.username {
    font-weight: 600;
    color: #FFE8DA;
}

.sidebar {
    background: #8E6745;
}

.sidebar-title {
    color: #FFF0E6;
    text-align: center;
    margin-top: 30px;
    font-size: 5px;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 5px;
}

.sidebar li .submenu {
    list-style: none;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #FFF0E6;
    font-size: 17px;
}

    .sidebar .nav-link:hover {
        font-weight: 500;
        color: #FFF0E6;
    }

    .sidebar .nav-link:focus {
        font-weight: 500;
        color: #FFF0E6;
    }

.sidebar-subicon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: -10px;
}

.nav-link.active {
    border-left: 4px solid #FFF0E6;
    background-color: #A47852;
    border-radius: 5px;
}

#admin-background {
    background-image: url('/img/admin_background_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*----------------------- ADMIN DASHBOARD -----------------------*/
.dashboard-welcome-text {
    font-weight: 500;
    color: black;
    font-size: 25px;
}

.dashboard-card {
    background: #FFBE98;
    border-radius: 5px;
    width: 75%;
    height: 80%;
}

.dashboard-card-title {
    font-weight: 500;
    color: #493422;
    font-size: 25px;
}

.dashboard-card-icon {
    width: 30px;
    height: 30px;
}

.dashboard-card-number {
    font-weight: 800;
    color: #493422;
    font-size: 35px;
}

.dashboard-card-plus-number {
    font-weight: 800;
    color: #8E6745;
    font-size: 20px;
}

/*----------------------- ADMIN ACCOUNT -----------------------*/
.account-navigate {
    height: 30px;
}

.account-navigate-icon {
    width: 20px;
    height: 20px
}

.account-navigate-text {
    font-weight: 500;
    color: #493422;
    font-size: 20px;
}

.account-title {
    font-weight: 600;
    font-size: 30px;
}

.account-subtitle {
    color: #493422;
    opacity: 0.7;
}

.account-create-button {
    background: #A47852;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.account-table {
    background: #FFF0E6;
    border-radius: 10px;
    border: 2px solid #493422 !important;
    border-spacing: 0;
    border-collapse: separate;
    padding-bottom: 15px;
    text-align: center;
}

.account-table-edit-btn {
    border: none;
    background: none;
}

.account-table-delete-btn {
    border: none;
    background: none;
}

.account-paging {
    background: #FFF0E6;
    color: #8E6745;
    border: solid 1px #493422;
    border-radius: 10px;
    overflow-y: hidden;
}

.page-item .page-link {
    color: #8E6745;
    border: none
}

.page-item:hover .page-link {
    color: #493422;
    background: #FFBE98;
}

.page-item.active .page-link {
    background-color: #FFBE98 !important;
    color: #493422 !important;
    font-weight: bold;
}

/*----------------------- ADMIN CREATE -----------------------*/
.create-form-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.create-padding-form {
    padding-left: 150px;
    padding-right: 150px;
}

.create-back-btn {
    border: solid 1px #A47852;
    border-radius: 5px;
    background: #FFF0E6;
}

    .create-back-btn:hover {
        background: #FFBE98;
    }

.create-reset-btn {
    border: solid 1px #A47852;
    border-radius: 5px;
    background: #FFBE98;
}

    .create-reset-btn:hover {
        background: #FFF0E6;
    }

.create-btn {
    border: solid 1px #A47852;
    border-radius: 5px;
    background: #A47852;
    color: white;
}

.form-id {
    display: inline-block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #A47852;
    background-clip: padding-box;
    border: 1px solid #493422;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-id::placeholder {
        color: white;
    }

/*Custom form*/
.form-custom {
    display: inline-block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #FEF0E5;
    background-clip: padding-box;
    border: 1px solid #493422;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



@media (prefers-reduced-motion: reduce) {
    .form-custom {
        transition: none;
    }
}

.form-custom[type=file] {
    overflow: hidden;
}

    .form-custom[type=file]:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

.form-custom:focus {
    color: #212529;
    background-color: #FEF0E5;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(73,52,34, 0.25);
}

.form-custom::-webkit-date-and-time-value {
    height: 1.5em;
}

.form-custom::-moz-placeholder {
    color: #FEF0E5;
    opacity: 1;
}

.form-custom::placeholder {
    color: #493422;
    opacity: 0.5;
}

.form-custom:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-custom::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-custom::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-custom::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none;
    }

    .form-custom::file-selector-button {
        transition: none;
    }
}

.form-custom:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
}

.form-custom:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
}

.custom-cursor-pointer {
    cursor: pointer !important;
}

/*----------------------- MODEL NEW POST -----------------------*/
.modal-new-post-header {
    background: #493422;
    color: white;
}

.modal-new-post-overall {
    margin-top: 50px;
    padding-bottom: 20px;
}

.modal-new-post-body {
    background: #FFBE98;
    padding-top: 0 !important;
}

.modal-new-post-card {
    border: solid 1px #FFBE98;
    border-radius: 8px;
    overflow-x: hidden;
    background: #FFF0E6;
}

.modal-new-post-post-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px; /* Đặt chiều rộng tối đa để áp dụng dấu "..." */
}

.custom-hr {
    height: 2px; /* Độ dày của đường hr */
    background-color: #000; /* Màu sắc của đường hr */
    border: none; /* Xóa border nếu có */
}


#notificationListAdmin {
    position: absolute;
    right: 20px;
    top: 100%;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

    .notification-item:hover {
        background-color: #f8f9fa;
    }

.notification-content {
    font-size: 0.9rem;
    line-height: 1.2;
}

.notification-message {
    margin-bottom: 4px;
}

.notification-time {
    font-size: 0.75rem;
    color: #6c757d;
}

.border-main-color-layout {
    border: 2px solid #FFBE98;
}
