
.bg-main-color-logo {
    background-color: #493422;
}

.text-color-logo {
    color: #493422;
}

    .text-color-logo::placeholder {
        color: #493422;
        opacity: 70%;
    }

.border-main-color-logo {
    border-color: #493422;
}

.bg-main-color-header {
    background-color: #8E6745;
}

.text-color-header {
    color: #8E6745;
}

.border-main-color-header {
    border-color: #8E6745;
}

.bg-main-color-layout {
    background-color: #FFBE98 !important;
}

.text-color-layout {
    color: #FFBE98;
}

    .text-color-layout::placeholder {
        color: #FFBE98;
        opacity: 70%;
    }

.border-main-color-layout {
    border-color: #FFBE98;
}

.bg-main-color-background {
    background-color: #FFF0E6;
}

.bg-main-color-btn {
    background-color: #FFE8DA;
}

.text-color-background {
    color: #FFF0E6;
}

    .text-color-background::placeholder {
        color: #FFF0E6;
        opacity: 70%;
    }

.border-main-color-background {
    border-color: #FFF0E6;
}

.header {
    max-height: 80px;
}

.main-content {
    display: flex;
}

.sidebar {
    flex: 1;
}

.content {
    flex: 3;
}

.w-32 {
    width: 32px !important;
}

@font-face {
    font-family: 'Algerian';
    src: url('~/font/Algerian Regular.ttf') format('truetype');
}

.kbridge-text {
    font-family: 'Algerian', sans-serif;
}


.btn-account-sign {
    color: #8E6745 !important;
    background-color: #FFF0E6 !important;
}

    .btn-account-sign:hover {
        color: #FFF0E6 !important;
        background-color: #493422 !important;
    }

    .btn-check:focus + .btn-account-sign, .btn-account-sign:focus {
        color: #8E6745;
        background-color: #FFF0E6;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .btn-check:checked + .btn-account-sign, .btn-check:active + .btn-account-sign, .btn-account-sign:active, .btn-account-sign.active, .show > .btn-account-sign.dropdown-toggle {
        color: #8E6745;
        background-color: #FFF0E6;
    }

        .btn-check:checked + .btn-account-sign:focus, .btn-check:active + .btn-account-sign:focus, .btn-account-sign:active:focus, .btn-account-sign.active:focus, .show > .btn-account-sign.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }

    .btn-account-sign:disabled, .btn-account-sign.disabled {
        color: #8E6745;
        background-color: #FFF0E6;
    }



.btn-account-log {
    color: #8E6745 !important;
    background-color: #FFF0E6 !important;
}

    .btn-account-log:hover {
        color: #FFF0E6 !important;
        background-color: #493422 !important;
    }

    .btn-check:focus + .btn-account-log, .btn-account-log:focus {
        color: #8E6745;
        background-color: #FFF0E6;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .btn-check:checked + .btn-account-log, .btn-check:active + .btn-account-log, .btn-account-log :active, .btn-account-log .active, .show > .btn-account-log .dropdown-toggle {
        color: #8E6745;
        background-color: #FFF0E6;
    }

        .btn-check:checked + .btn-account-log:focus, .btn-check:active + .btn-account-log:focus, .btn-account-log:active:focus, .btn-account-log.active:focus, .show > .btn-account-log.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }

    .btn-account-log:disabled, .btn-account-log.disabled {
        color: #8E6745;
        background-color: #FFF0E6;
    }



.btn-post {
    color: #FFF0E6 !important;
    background-color: #8E6745 !important;
}

    .btn-post:hover {
        color: #FFF0E6 !important;
        background-color: #493422 !important;
    }

    .btn-check:focus + .btn-post, .btn-post:focus {
        color: #FFF0E6;
        background-color: #8E6745;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .btn-check:checked + .btn-post, .btn-check:active + .btn-post, .btn-post :active, .btn-post .active, .show > .btn-post .dropdown-toggle {
        color: #FFF0E6;
        background-color: #8E6745;
    }

        .btn-check:checked + .btn-post:focus, .btn-check:active + .btn-post:focus, .btn-post:active:focus, .btn-post.active:focus, .show > .btn-post.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }

    .btn-post:disabled, .btn-post.disabled {
        color: #FFF0E6;
        background-color: #8E6745;
    }


.rounded-8 {
    border-radius: 8px;
}


.fs-12 {
    font-size: 12px;
}

.message {
    max-width: 95%;
    word-wrap: break-word;
}


.align-self-end .message {
    border-bottom-right-radius: 0 !important;
}

.message-group:not(.align-self-end) .message {
    border-bottom-left-radius: 0 !important;
}


.focus:focus {
    outline: none;
}

.word-break-all {
    word-break: break-all;
}

.cursor {
    cursor: pointer;
}

.w-1 {
    max-width: 100%;
}

#arrow-icon {
    transition: transform 0.3s ease-in-out;
}

    #arrow-icon.rotated {
        transform: rotate(90deg);
    }


#comments-container.hidden {
    display: none !important;
}

#arrow-icon-cate-1, #arrow-icon-cate-2, #arrow-icon-cate-3, #arrow-icon-cate-4, #arrow-icon-cate-5, #arrow-icon-cate-6, #arrow-icon-new-1 {
    transition: transform 0.3s ease-in-out;
}

    #arrow-icon-cate-1.rotated1, #arrow-icon-cate-2.rotated2, #arrow-icon-cate-3.rotated3, #arrow-icon-cate-4.rotated4, #arrow-icon-cate-4.rotated4, #arrow-icon-cate-5.rotated5, #arrow-icon-cate-6.rotated6, #arrow-icon-new-1.rotatednew {
        transform: rotate(90deg);
    }

#container-cate-1.hidden, #container-cate-2.hidden, #container-cate-3.hidden, #container-cate-3.hidden, #container-cate-4.hidden, #container-cate-4.hidden, #container-cate-5.hidden, #container-cate-6.hidden, #container-new-1.hidden {
    display: none !important;
}


.hover-bold:hover span,
.active-bold.active span {
    font-weight: bold;
}

.hover-italic:hover span,
.active-italic.active span {
    font-style: italic;
}

.hover-underline:hover span,
.active-underline.active span {
    text-decoration: underline;
}

.btn-outline-secondary {
    color: #493422;
    border-color: #493422;
}

    .btn-outline-secondary:hover,
    .btn-outline-secondary.active {
        color: #fff;
        background-color: #493422;
        border-color: #493422;
    }

#content-area {
    white-space: pre-wrap;
}

/*----------------------- MODEL NEW POST -----------------------*/
.modal-new-post-header {
    background: #493422;
    color: white;
}

.modal-new-post-overall {
    margin-top: 50px;
    padding-bottom:20px;
}

.modal-new-post-body {
    background: #FFBE98;
    padding-top:0 !important;
}

.modal-new-post-card {
    border: solid 1px #FFBE98;
    border-radius: 8px;
    overflow-x: hidden;
    background: #FFF0E6;
}

.modal-new-post-post-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px; /* Đặt chiều rộng tối đa để áp dụng dấu "..." */
}

.custom-hr {
    height: 2px; /* Độ dày của đường hr */
    background-color: #000; /* Màu sắc của đường hr */
    border: none; /* Xóa border nếu có */
}

/*Lập trình*/
.modal-new-post-cate-card-1:hover {
    background: #F5ACAC;
}

/*Hướng dẫn*/
.modal-new-post-cate-card-2:hover {
    background: #BCDAB4;
}

/*Mẫu báo cáo*/
.modal-new-post-cate-card-3:hover {
    background: #DAB4B4;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible-header {
    cursor: pointer;
}

    .collapsible-header::after {
        content: '\25BC';
        float: right;
        transition: transform 0.3s ease-out;
    }

    .collapsible-header.active::after {
        transform: rotate(180deg);
    }

.btn-account-edit {
    color: #FFF0E6 !important;
    background-color: #EA8348 !important;
}

    .btn-account-edit:hover {
        color: #FFF0E6 !important;
        background-color: #8E6745 !important;
    }

.btn-edit-profile {
    color: #493422 !important;
    background-color: #F5C4A4 !important;
}

    .btn-edit-profile:hover {
        color: #FFF0E6 !important;
        background-color: #8E6745 !important;
    }

.custom-cursor-pointer {
    cursor: pointer;
}

.btn-confirm {
    color: #FFF0E6 !important;
    background-color: #8E6745 !important;
}

    .btn-confirm:hover {
        color: #8E6745 !important;
        background-color: #FFF0E6 !important;
    }

.modal-new-post-card-name {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/*Tài liệu*/
.modal-new-post-cate-card-4:hover {
    background: #EAC3EB;
}

/*Bài giảng*/
.modal-new-post-cate-card-5:hover {
    background: #F5C9AC;
}

/*DRL*/
.modal-new-post-cate-card-6:hover {
    background: #C4C3EB;
}

.reply-content ol, .reply-content ul {
    padding-left: 20px;
    list-style-position: outside;
}

.reply-content ol {
    list-style-type: decimal;
}

.reply-content ul {
    list-style-type: disc;
}