@using K_Bridge.Models
@{
    ViewData["Title"] = "Bài viết mới nhất";
    <link href="/css/Newest.css" rel="stylesheet" />
}
<div class="row mb-5">
    <div class="col-6 d-flex justify-content-start fw-bold fs-4">
        BÀI VIẾT MỚI NHẤT
    </div>
    <button class="col-3 filter-forum d-flex justify-content-center align-items-center mx-4">
        <div class="px-2">
            Diễn đàn
        </div>
        <img src="/img/icon_filter_forum_50.png" alt="Filter" width="15" height="15">
    </button>
    <button class="col-3 filter-forum d-flex justify-content-center align-items-center mx-2">
        <div class="px-2">
            Bộ lọc
        </div>
        <img src="/img/icon_filter_sort_50.png" alt="Filter" width="20" height="20">
    </button>
</div>
<div class="row">
    <div class="col-2 d-flex flex-column justify-content-center">
        <div class="newest-card-stat py-2">0 Câu trả lời</div>
        <div class="newest-card-stat py-2">10 Lượt xem</div>
    </div>
    <div class="col-10">
        <div class="d-flex">
            <div class="newest-card-title">Xin đề cương môn ABC</div>
            <div class="newest-card-tag px-3 mx-3">Tài liệu </div>
        </div>
        <div class="newest-card-des">Hôm qua mình nghỉ học nên không biết có đề cương, mình cũng không quen ai trên lớp nên bạn nào học cô Thuỷ cho mình xin đề cương ôn tập.</div>
        <div class="d-flex justify-content-end mt-2">
            <img src="/img/user.jpg" class="rounded-circle" alt="Avatar" width="30" height="30">
            <div class="newest-card-username mx-2">User1 hỏi 10 phút trước</div>
        </div>
       
    </div>
    <hr class="mt-2">
</div>
<div class="row">
    <div class="col-2 d-flex flex-column justify-content-center">
        <div class="newest-card-stat py-2">0 Câu trả lời</div>
        <div class="newest-card-stat py-2">10 Lượt xem</div>
    </div>
    <div class="col-10">
        <div class="d-flex">
            <div class="newest-card-title">Xin đề cương môn ABC Xin đề cương môn ABC Xin đề cương môn ABC Xin đề cương môn ABC</div>
            <div class="newest-card-tag px-3 mx-3">Tài liệu</div>
        </div>
        <div class="newest-card-des">Hôm qua mình nghỉ học nên không biết có đề cương, mình cũng không quen ai trên lớp nên bạn nào học cô Thuỷ cho mình xin đề cương ôn tập.
            Hôm qua mình nghỉ học nên không biết có đề cương, mình cũng không quen ai trên lớp nên bạn nào học
        </div>
        <div class="d-flex justify-content-end mt-2">
            <img src="/img/user.jpg" class="rounded-circle" alt="Avatar" width="30" height="30">
            <div class="newest-card-username mx-2">User1 hỏi 10 phút trước</div>
        </div>
    </div>
    <hr class="mt-2">
</div>