 @model PostViewModel
@{
    ViewData["Title"] = "Đăng bài viết";
    <link href="/css/Post.css" rel="stylesheet" />

}
<div class="row post-welcome-container p-3 flex align-items-center m-0">
    <div class="col-1 m-0 p-1">
        <img src="/img/user.jpg" alt="avatar" class="rounded-circle w-100 h-100" />
    </div>
    <div class="col-11 text-color-logo px-3">
        <div class="d-flex">
            <div>Chào</div>
            <div class="fw-bold px-1">User1,</div>
        </div>
        <div>Tích cực đăng bài là điều cần thiết để gia tăng lượt thích và uy tín của bản thân!!</div>
    </div>
</div>
<div class="post-new-post-text my-3">ĐĂNG CHỦ ĐỀ MỚI</div>
<form asp-action="Create" method="post">
    <div class="post-container p-3">
        <div class="post-title-text">Tiêu đề:</div>
        <input class="post-title-input h-100 w-100 p-2 my-3"
               asp-for="Title"
               placeholder="Hãy cụ thể và tưởng tượng bạn đang đặt câu hỏi cho người khác"></input>
        <div class="post-title-text my-3">Nội dung:</div>
        <div class="post-content-input-container mt-2">
            <div class="py-3 flex align-items-center">
                <button class="post-func-button">
                    <img src="/img/icon_post_func_bold.png" alt="Bold" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_i.png" alt="Italic" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_u.png" alt="Underline" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_link.png" alt="Link" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_img.png" alt="Image" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_list.png" alt="Number list" style="width:20px; height:20px;" />
                </button>
                <button class="post-func-button">
                    <img src="/img/icon_post_func_bullet.png" alt="Bullet list" style="width:20px; height:20px;" />
                </button>
            </div>
            <hr class="m-0" />
            <textarea class="post-content-textarea w-100 p-2" rows="10" asp-for="Content"
                      placeholder="Viết nội dung của bài viết tại đây..."></textarea>
            <div class="post-end-content flex justify-content-center align-items-center">
                <img src="/img/frame_end_content.png" style="width:50px; height:10px;" />
            </div>
        </div>
        <div class="w-100 flex justify-content-end">
            <button class="post-button p-2" type="submit">Đăng bài viết của bạn<button />
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const textarea = document.querySelector('.post-title-input');
        const maxWords = 10; // Set the maximum number of words

        textarea.addEventListener('input', function () {
            const words = textarea.value.split(/\s+/).filter(word => word.length > 0);
            if (words.length > maxWords) {
                textarea.value = words.slice(0, maxWords).join(' ');
            }
        });
    });
</script>