@{

    bool isLoggedIn = ViewBag.IsLoggedIn ?? false;
}
@model LoginRegisterViewModel

<div class="container-fluid py-3 px-5 w-100">
    <div class="row align-items-center">
        <div class="col-auto col-md-2">
            <button class="d-flex align-items-center" onclick="window.location.href='/'">
                <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                <span class="ms-2 kbridge-text text-color-layout fs-4 d-none d-md-inline">K-BRIDGE</span>
            </button>
        </div>
        <div class="col col-md-7 d-flex justify-content-center">
            <div class="input-group rounded-2 border border-main-color-layout px-2" style="max-width: 420px;">
                <input type="text" class="focus flex-grow-1 bg-transparent text-color-layout text-white" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-main-color-header" type="button" id="button-addon2">
                    <img src="/img/iconSearch.png" alt="Search Icon">
                </button>
            </div>
        </div>
        <div class="col-auto col-md-3 mt-3 mt-md-0 d-flex justify-content-center">
            @if (!isLoggedIn)
            {
                <div class="align-items-center d-flex justify-content-between" style="width: 85%; max-width:300px;">
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-sign"
                            style="width:48%;" data-bs-toggle="modal" data-bs-target="#signupModal">
                        Đăng ký
                    </button>
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-log" style="width:48%;" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
                </div>
            }
            else
            {
                <div class="d-md-flex align-items-center mx-3" onclick="window.location.href='/UserProfile/@ViewBag.UsernameLoggedIn'">
                    <img src="/img/avatar_40.png" alt="avatar" class="me-2 rounded-3" style="width: 40px; height: 40px;" />
                    <div class=" text-color-background mb-1 fw-bold flex-grow-1 pe-none">@ViewBag.UsernameLoggedIn</div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal SignUp -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <div class="modal-title" id="signupModalLabel">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                        <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p class="text-color-logo fs-12">
                    Bằng việc nhấn vào nút "Đăng ký", bạn đã đồng ý với các <a href="#">Điều khoản dịch vụ</a> của chúng tôi và xác nhận rằng bạn đã đọc
                    <a href="#">Chính sách bảo mật</a> của chúng tôi.
                </p>
            </div>

            <div id="registerValidationSummary" class="text-danger" style="display:none;"></div>
            <form id="registerForm">
                <div class="modal-body py-0">
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="Username">Tên đăng nhập</label>
                        <input type="type" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2"
                               id="Username" asp-for="RegisterModel.Username" placeholder="abc123" minlength="4" required>
                    </div>

                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="email">Email</label>
                        <input type="email" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2"
                               id="email" asp-for="RegisterModel.Email" placeholder="daylaemail@gmail.com" required>
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2"
                               id="password" asp-for="RegisterModel.Password" minlength="8" required
                               placeholder="Mật khẩu phải chứa ít nhất 8 ký tự, một chữ cái và một chữ số">
                    </div>

                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="confirmPassword">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2"
                               id="confirmPassword" asp-for="RegisterModel.ConfirmPassword" minlength="8" required
                               placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group mb-4 text-color-header">
                        <button type="submit" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng ký</button>
                        <p class="py-2 fs-12">Đã có tài khoản? <a href="#" id="switchToLogin">Đăng nhập</a> ngay</p>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>

@* <partial name="ModalLogin" />
 *@
<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="loginForm">
                <div class="modal-body py-0">
                    <h5 class="modal-title" id="signupModalLabel">
                        <div class="d-flex align-items-center flex-column mb-4">
                            <img class="img-fluid h-75" src="/img/Logo_75.png" alt="Logo">
                            <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                        </div>
                    </h5>
                    <div id="loginValidationSummary" class="text-danger" style="display:none;"></div>

                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="LoginUser">Email/Tên đăng nhập</label>
                        <input type="type" class="form-control bg-main-color-layout border border-main-color-logo focus text-color-header rounded-2 mt-2"
                               id="LoginUser" asp-for="LoginModel.User" required placeholder="daylaemail@gmail.com">
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="LoginPassword">Mật khẩu</label>
                        <input type="password" class="form-control bg-main-color-layout border border-main-color-logo focus text-color-header rounded-2 mt-2"
                               id="LoginPassword" asp-for="LoginModel.Password" required placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng nhập</button>
                    </div>
                </div>
            </form>
            <div>
                <p class="p-3 text-color-logo fs-12">Chưa có tài khoản? <a href="#" id="switchToSignup">Đăng ký</a> ngay</p>
            </div>
        </div>
    </div>
</div>



<script>
    var signupModal;
    var loginModal;
    document.addEventListener('DOMContentLoaded', function () {
        signupModal = new bootstrap.Modal(document.getElementById('signupModal'));
        loginModal = new bootstrap.Modal(document.getElementById('loginModal'));

        if (document.getElementById('signupModal').classList.contains('show')) {
            signupModal.hide();
        }
        if (document.getElementById('loginModal').classList.contains('show')) {
            loginModal.hide();
        }

        document.getElementById('switchToLogin').addEventListener('click', function (e) {
            e.preventDefault();
            signupModal.hide();
            loginModal.show();
        });

        document.getElementById('switchToSignup').addEventListener('click', function (e) {
            e.preventDefault();
            loginModal.hide();
            signupModal.show();
        });
    });

    document.getElementById('signupModal').addEventListener('hidden.bs.modal', function () {
        document.getElementById('registerForm').reset();
        document.getElementById('registerValidationSummary').style.display = 'none';
        document.getElementById('registerValidationSummary').innerHTML = '';
    });

    document.getElementById('loginModal').addEventListener('hidden.bs.modal', function () {
        document.getElementById('loginForm').reset();
        document.getElementById('loginValidationSummary').style.display = 'none';
        document.getElementById('loginValidationSummary').innerHTML = '';
    });

    // Xử lý đăng ký
    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        var password = formData.get('RegisterModel.Password');

        // Kiểm tra mật khẩu có chứa ít nhất một chữ cái và một số
        if (!/(?=.*[A-Za-z])(?=.*\d)/.test(password)) {
            var errorSummary = document.getElementById('registerValidationSummary');
            errorSummary.innerHTML = '<ul><li>Mật khẩu phải chứa ít nhất một chữ cái và một số.</li></ul>';
            errorSummary.style.display = 'block';
            return;
        }

        fetch('/Home/Register', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                var errorSummary = document.getElementById('registerValidationSummary');
                errorSummary.innerHTML = ''; // Xóa nội dung cũ

                if (data.success) {
                    signupModal.hide(); // Ẩn modal đăng ký

                    // Reset form đăng ký
                    document.getElementById('registerForm').reset();

                    // Hiển thị modal đăng nhập
                    loginModal.show();

                } else {
                    // Hiển thị lỗi
                    if (data.errors && data.errors.length > 0) {
                        var ul = document.createElement('ul');
                        data.errors.forEach(function (error) {
                            var li = document.createElement('li');
                            li.textContent = error;
                            ul.appendChild(li);
                        });
                        errorSummary.appendChild(ul);
                        errorSummary.style.display = 'block'; // Hiển thị phần tóm tắt lỗi
                    } else {
                        errorSummary.innerHTML = '<ul><li>Có lỗi xảy ra trong quá trình đăng ký.</li></ul>';
                        errorSummary.style.display = 'block';
                    }
                }
            });
    });

    // Xử lý đăng nhập
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        formData.forEach((value, key) => {
            console.log(key + ': ' + value);
        });
        fetch('/Home/Login', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    loginModal.hide();
                    document.getElementById('loginForm').reset();
                    //updateUIAfterLogin(data.user);
                    window.location.reload();
                } else {
                    var errorSummary = document.getElementById('loginValidationSummary');
                    errorSummary.innerHTML = ''; // Xóa nội dung cũ

                    if (data.errors && data.errors.length > 0) {
                        var ul = document.createElement('ul');
                        data.errors.forEach(function (error) {
                            var li = document.createElement('li');
                            li.textContent = error;
                            ul.appendChild(li);
                        });
                        errorSummary.appendChild(ul);
                        errorSummary.style.display = 'block'; // Hiển thị phần tóm tắt lỗi
                    } else {
                        errorSummary.innerHTML = '<ul><li>Có lỗi xảy ra trong quá trình đăng nhập.</li></ul>';
                        errorSummary.style.display = 'block';
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    // function updateUIAfterLogin(user) {
    //     var loginButtons = document.querySelector('.align-items-center.d-flex.justify-content-between');
    //     if (loginButtons) {
    //         var userInfo = document.createElement('div');
    //         userInfo.className = 'd-md-flex align-items-center mx-3';
    //         userInfo.innerHTML = `
    //                 <img src="/img/avatar_40.png" alt="avatar" class="me-2 rounded-3" style="width: 40px; height: 40px;" href="/Newest"/>
    //                     <div class="text-color-background mb-1 fw-bold flex-grow-1" onclick="window.location.href='/Newest'">${user.username}</div>
    //             `;
    //         loginButtons.parentNode.replaceChild(userInfo, loginButtons);
    //     }
    // }
</script>