
<div class=" d-flex flex-column mt-4 border-main-color-layout border-2 h-auto w-auto rounded-8" style="max-width: 300px;">
    <button id="toggle-comments" class="flex-grow-0 border-main-color-header border-bottom p-3 rounded-3 h-50 d-lg-inline-flex justify-content-lg-between">
        <div class="text-uppercase">Bình luận</div>
        <img id="arrow-icon" src="/img/arrow_down.png" alt="arrow_down" />
    </button>

    <div id="comments-container" class="rounded-3 overflow-auto flex-grow-1 mx-lg-3 d-flex flex-column-reverse" style="height: 460px;">
        <div id="chat-messages" class="d-flex flex-column-reverse justify-content-end" style="overflow: hidden;">
            @foreach (var chat in ViewBag.GlobalChats ?? Enumerable.Empty<GlobalChat>())
            {
                <div class="mb-2 d-md-flex flex-column">
                    <div class="d-md-flex align-items-center">
                        <img src="/img/avatar.png" alt="avatar" class="me-2 rounded-circle" style="width: 20px; height: 20px;" />
                        <div class="fs-12 text-color-logo mb-1 fw-bold flex-grow-1">@chat.Username</div>
                    </div>
                    <div class="message fs-12 rounded-3 text-color-logo mb-1 word-break-all" style="margin-right: 4px;">@chat.Content</div>
                </div>
            }
        </div>
    </div>
    <div class="mx-3 my-2 input-group w-auto rounded-8 bg-main-color-btn ">
        <input type="text" class="flex-grow-1 fs-12 text-color-logo rounded-8 w-auto px-2 focus bg-main-color-btn" placeholder="Nhập nội dung...">
        <button type="button" class="btn">
            <img src="~/img/send.png" alt="Send" class="opacity-75" />
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleButton = document.getElementById('toggle-comments');
        const commentsContainer = document.getElementById('comments-container');
        const arrowIcon = document.getElementById('arrow-icon');

        toggleButton.addEventListener('click', function () {
            commentsContainer.classList.toggle('hidden');
            arrowIcon.classList.toggle('rotated');
        });
    });
</script>