@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var currentPath = HttpContextAccessor.HttpContext.Request.Path.Value;
    var isDashboardActive = currentPath == "/Admin/Dashboard";
}

<ul class="nav flex-column" id="nav_accordion">
    <li class="nav-item sidebar-title">
        <h5>TRANG QUẢN TRỊ</h5>
    </li>
    <li class="nav-item mt-3">
        <a class="nav-link nav-link-text @(isDashboardActive ? "active" : "")" href="/Admin/Dashboard">
            <img src="~/img/icon_dashboard_50.png" class="sidebar-icon" /> Tổng quan
        </a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link nav-link-text" href="/Admin/Accounts/List">
            <img src="~/img/icon_user_50.png" class="sidebar-icon" /> Tài khoản
        </a>
    </li>
    <li class="nav-item has-submenu mt-2">
        <a class="nav-link" href="#">
            <img src="~/img/icon_table_50.png" class="sidebar-icon" /> Diễn đàn
            <i class="bi small bi-caret-down-fill"></i>
        </a>
        <ul class="submenu collapse">
            @foreach (var forum in ViewBag.NavForum ?? Enumerable.Empty<Forum>())
            {
                <li class="nav-item mt-1">
                    <a class="nav-link nav-link-text" href="/Admin/Forums/List/@forum.ID">
                        <img src="~/img/@forum.IconLink" class="sidebar-subicon" />@forum.Name
                    </a>
                </li>
            }
      </ul>
    </li>
    @{
        var role = HttpContextAccessor.HttpContext.Session.GetString("AdminRole");
        // Debug: Hiển thị giá trị Role trên trang để kiểm tra
    }
    @if (role == "Mgr")
    {
        <li class="nav-item mt-2">
            <a class="nav-link nav-link-text" href="/Admin/Managers/List">
                <img src="~/img/icon_admin_50.png" class="sidebar-icon" /> Quản trị viên
            </a>
        </li>
    }


    <li class="nav-item mt-2">
        <a class="nav-link nav-link-text" href="/Admin/Logout">
            <img src="~/img/icon_logout_50.png" class="sidebar-icon" /> Đăng xuất
        </a>
    </li>
</ul>
