<div class="row account-navigate mt-3 px-5 align-items-center ">
    <div class="col-3 d-flex justify-content-star">
        <img src="/img/icon_dashboard_50_dark.png"
             class="account-navigate-icon mt-2" alt="Tổng quan">
        <img src="/img/icon_arrow_right_50_dark.png" class="mx-4 mt-2"
             alt="Tổng quan" width="10" height="20">
        <div class="account-navigate-text ">Tài khoản</div>
    </div>
    <div class="col-9">
    </div>
</div>