<div style="max-width: 300px;  margin-left: 40px;" class="mt-2 justify-content-end">
    <button type="button" class="btn btn-post text-uppercase fs-6" style="width:100%;">Đăng chủ đề mới</button>
</div>