<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>test stats</h1>
        </div>
        <div class="col-6">
            <!-- Nội dung khác -->
        </div>
    </div>
</div>
@* :root {
    --bg-main-color-logo: #493422;
    --bg-main-color-header: #8E6745;
    --bg-main-color-layout: #FFBE98;
    --bg-main-color-background: #FFF0E6;

} *@