@{
    bool isLoggedIn = false;
}

<div class="container-fluid px-5 py-3 py-md-4" style="max-width: 97%;">
    <div class="row align-items-center" >
        <div class="col-auto col-md-2">
            <div class="d-flex align-items-center">
                <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                <span class="ms-2 kbridge-text text-color-layout fs-4 d-none d-md-inline">K-BRIDGE</span>
            </div>
        </div>
        <div class="col col-md-7 d-flex justify-content-center">
            <div class="input-group rounded-2 border border-main-color-layout px-2" style="max-width: 420px;">
                <input type="text" class="focus flex-grow-1 bg-transparent text-color-layout" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-main-color-header" type="button" id="button-addon2">
                    <img src="/img/iconSearch.png" alt="Search Icon">
                </button>
            </div>
        </div>
        <div class="col-auto col-md-3 mt-3 mt-md-0 d-flex justify-content-center">
            @if (!isLoggedIn)
            {
                <div class="align-items-center d-flex justify-content-between" style="width: 85%; max-width:300px;">
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-sign" style="width:48%;" data-bs-toggle="modal" data-bs-target="#signupModal">Đăng ký</button>
                    <button type="button" class="btn px-2 px-md-4 py-1 btn-account-log" style="width:48%;" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
                </div>
            }
            else
            {
                <div class="d-md-flex align-items-center mx-3">
                    <img src="/img/avatar_40.png" alt="avatar" class="me-2 rounded-3" style="width: 40px; height: 40px;" />
                    <div class=" text-color-background mb-1 fw-bold flex-grow-1">Tên tài khoản</div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal SignUp -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <div class="modal-title" id="signupModalLabel">
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" style="max-height: 40px;" src="/img/Logo.png" alt="Logo">
                        <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p class="text-color-logo fs-12">
                    Bằng việc nhấn vào nút "Đăng ký", bạn đã đồng ý với các <a href="#">Điều khoản dịch vụ</a> của chúng tôi và xác nhận rằng bạn đã đọc
                    <a href="#">Chính sách bảo mật</a> của chúng tôi.
                </p>
            </div>

            <form>
                <div class="modal-body py-0">
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="email">Email</label>
                        <input type="email" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2" id="email" placeholder="daylaemail@gmail.com">
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2" id="password" placeholder="Trên 8 ký tự, ít nhất 1 ký tự chữ hoặc số">
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="confirm-password">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control border-main-color-logo border bg-main-color-layout focus text-color-header rounded-3 mt-2" id="confirm-password" placeholder="Trên 8 ký tự, ít nhất 1 ký tự chữ hoặc số">
                    </div>
                    <div class="form-group mb-4 text-color-header">
                        <button type="submit" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng ký</button>
                        <p class="py-2 fs-12">Đã có tài khoản? <a href="#" id="switchToLogin">Đăng nhập</a> ngay</p>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-main-color-background p-1" style="border-radius: 20px;">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form>
                <div class="modal-body py-0">
                    <h5 class="modal-title" id="signupModalLabel">
                        <div class="d-flex align-items-center flex-column mb-4">
                            <img class="img-fluid h-75" src="/img/Logo_75.png" alt="Logo">
                            <span class="ms-2 kbridge-text text-color-header fs-4 d-none d-md-inline">K-BRIDGE</span>
                        </div>
                    </h5>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="login-email">Email</label>
                        <input type="email" class="form-control bg-main-color-layout border border-main-color-logo focus text-color-header rounded-2 mt-2" id="login-email" placeholder="daylaemail@gmail.com">
                    </div>
                    <div class="form-group mb-4 text-color-header fw-bold">
                        <label for="login-password">Mật khẩu</label>
                        <input type="password" class="form-control bg-main-color-layout border border-main-color-logo focus text-color-header rounded-2 mt-2" id="login-password" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="d-block px-3 py-2 fw-bold rounded-3 btn-post fw-bold" style=" width: 100%;">Đăng nhập</button>
                    </div>
                </div>
            </form>
            <div>
                <p class="p-3 text-color-logo fs-12">Chưa có tài khoản? <a href="#" id="switchToSignup">Đăng ký</a> ngay</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var signupModal = new bootstrap.Modal(document.getElementById('signupModal'));
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));

        document.getElementById('switchToLogin').addEventListener('click', function (e) {
            e.preventDefault();
            signupModal.hide();
            loginModal.show();
        });

        document.getElementById('switchToSignup').addEventListener('click', function (e) {
            e.preventDefault();
            loginModal.hide();
            signupModal.show();
        });
    });
</script>