<div style="max-width: 300px;" class="mt-2 justify-content-end">
    <button type="button" class="btn btn-post text-uppercase fs-6 w-100"
            data-bs-toggle="modal"
            data-bs-target="#newPostModal">
        Đăng bài viết mới
    </button>
</div>

<!-- Modal new post -->
<div class="modal fade modal-new-post-overall" id="newPostModal" tabindex="-1"
     aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content w-100">
            <div class="modal-header modal-new-post-header py-2 px-3">
                <h5 class="modal-title " id="newPostModalLabel">ĐĂNG CHỦ ĐỀ TRONG</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-new-post-body" style="border-bottom:solid 1px none; border-radius:5px; overflow:hidden;">
                @foreach (var forum in ViewBag.VCForums ?? Enumerable.Empty<Forum>())
                {
                    <div class="modal-new-post-card mt-3">
                        <div class="modal-new-post-card-name py-3 px-3 collapsible-header text-uppercase"
                             data-target="cate-@forum.ID-content"
                             style="background: @GetForumColorHelper.GetForumBackgroundColor(forum.ID);">
                            @forum.Name
                        </div>
                        <div id="cate-@forum.ID-content" class="collapsible-content">
                            @foreach (var topic in forum.Topics)
                            {
                                <div class="w-auto rounded-3 modal-new-post-cate-card-@forum.ID" onclick="window.location.href='/Post/Create?Topic='+@topic.ID">
                                    <hr class="m-0 p-0 custom-hr" />
                                    <div class="row flex-nowrap p-2 m-0">
                                        <div class="col-lg-2 p-0 m-2 d-flex justify-content-center">
                                            <img src="/img/cate_1.png" alt="avatar" style="width: 50px; height: 50px;" />
                                        </div>
                                        <div class="col-lg-10 d-flex flex-column justify-content-center">
                                            <div class="fw-normal p-0 my-1 fs-5">@topic.Name</div>
                                        </div>
                                    </div>
                                    <hr class="m-0 p-0 custom-hr" />

                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>