@model UpdateUsernameViewModel
@{
    ViewData["Title"] = "Cập nhật tên đăng nhập";

}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="mb-2">Cập nhật tên đăng nhập</h2>
            <p class="fs-12 text-color-header">Nhập tên đăng nhập mới và mật khẩu hiện tại.</p>

  

            <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                <div id="liveToastEditUsername" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body text-color-background fw-bold text-center rounded-bottom rounded-3"
                         style="background-color: #493422; border: 2px solid #FFF0E6;">
                        <div id="editUsernameValidationSummary"></div>
                    </div>
                </div>
            </div>


            
            <form asp-action="EditUserName" method="post" id="editUserNameForm">
                <div class="form-group mb-4 text-color-header fw-bold">
                    <label for="Username">Tên đăng nhập mới</label>
                    <input type="text" class="form-control focus bg-transparent text-color-header rounded-3 mt-2"
                           placeholder="abc123" minlength="4"
                           asp-for="NewUserName"
                           required>
                </div>

                <div class="form-group mb-4 text-color-header fw-bold">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control bg-main-color-background focus text-color-header rounded-3 mt-2"
                           minlength="8" required
                           asp-for="Password"
                           placeholder="Nhập mật khẩu của bạn">
                </div>
                <div class="text-center d-flex justify-content-between w-100">
                    <a href="/UserProfile?id=@ViewBag.UserID" class="btn btn-account-log w-50 me-4">Huỷ bỏ</a>
                    <button type="submit" class="btn btn-account-edit w-50 ">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('editUserNameForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var errorSummary = document.getElementById('editUsernameValidationSummary');
        errorSummary.innerHTML = ''; // Xóa nội dung cũ


        var formData = new FormData(this);
        fetch('/UserProfile/EditUserName', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    errorSummary.innerHTML = '<div>Cập nhật thành công.</div>';
                    errorSummary.style.display = 'block';
                    showToast('liveToastEditUsername');
                    setTimeout(() => {
                        window.location.href = '/UserProfile?id=' + data.userId;
                    }, 2000);

                } else {
                    if (data.errors && data.errors.length > 0) {
                        var p = document.createElement('div');
                        data.errors.forEach(function (error) {
                            p.textContent = error;
                        });
                        errorSummary.appendChild(p);
                        errorSummary.style.display = 'block';
                        showToast('liveToastEditUsername');
                    } else {
                        errorSummary.innerHTML = '<div>Có lỗi xảy ra trong quá trình xử lý.</div>';
                        errorSummary.style.display = 'block';
                        showToast('liveToastEditUsername');
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>