@model UpdatePhoneNumberViewModel
@{
    ViewData["Title"] = "Cập nhật số điện thoại";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="text-color-header my-2">Cập nhật Số điện thoại</h2>
            <p class="fs-12 text-color-header">Nhập tên đăng nhập và mật khẩu hiện tại.</p>


            <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                <div id="liveToastEditPhoneNum" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body text-color-background fw-bold text-center rounded-bottom rounded-3"
                         style="background-color: #493422; border: 2px solid #FFF0E6;">
                        <div id="editPhoneNumValidationSummary"></div>
                    </div>
                </div>
            </div>

            <form asp-action="EditPhoneNum" method="post" id="editPhoneNumForm">

                <div class="form-group mb-4 text-color-header fw-bold">
                    <label for="Username">Tên đăng nhập</label>
                    <input type="text" class="flex-grow-1 fs-12 form-control border-0 text-color-header rounded-8 px-2 focus mt-2 bg-white"
                           placeholder="Nhập tên đăng nhập của bạn" minlength="4" required autocomplete="new-username"
                           asp-for="Username" > 
                </div>

                <div class="form-group mb-4 text-color-header fw-bold">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control bg-white focus border-0 text-color-header rounded-3 mt-2"
                           minlength="8" required autocomplete="new-password"
                           placeholder="Nhập mật khẩu của bạn" asp-for="Password">
                </div>
                <div class="form-group mb-4 text-color-header fw-bold">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control bg-white focus border-0 text-color-header rounded-3 mt-2"
                           minlength="10" required autocomplete="new-phonenumber"
                           placeholder="Nhập số điện thoại của bạn" asp-for="NewPhoneNumber">
                </div>
                <div class="text-center d-flex justify-content-between w-100">
                    <a href="/UserProfile?id=@ViewBag.UserID" class="btn btn-account-log w-50 me-4">Huỷ</a>
                    <button type="submit" class="btn btn-account-edit w-50 ">Lưu thay đổi</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    document.getElementById('editPhoneNumForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var errorSummary = document.getElementById('editPhoneNumValidationSummary');
        errorSummary.innerHTML = ''; // Xóa nội dung cũ


        var formData = new FormData(this);
        fetch('/UserProfile/EditPhoneNum', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    errorSummary.innerHTML = '<div>Cập nhật thành công.</div>';
                    errorSummary.style.display = 'block';
                    showToast('liveToastEditPhoneNum');
                    setTimeout(() => {
                        window.location.href = '/UserProfile?id=' + data.userId;
                    }, 2000);

                } else {
                    if (data.errors && data.errors.length > 0) {
                        var p = document.createElement('div');
                        data.errors.forEach(function (error) {
                            p.textContent = error;
                        });
                        errorSummary.appendChild(p);
                        errorSummary.style.display = 'block';
                        showToast('liveToastEditPhoneNum');
                    } else {
                        errorSummary.innerHTML = '<div>Có lỗi xảy ra trong quá trình xử lý.</div>';
                        errorSummary.style.display = 'block';
                        showToast('liveToastEditPhoneNum');
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>