@using K_Bridge.Models
@{
    ViewData["Title"] = "Tài khoản của tôi";
}
<div>
    <div>
        <p class="text-color-header fw-bold fs-5">Tài khoản của tôi</p>
    </div>
    <div class="rounded-8 bg-main-color-layout position-relative" style="min-height: 400px;">
        <div class="rounded-top bg-main-color-header" style="min-height: 100px;"></div>
        <div class="rounded-3 position-absolute " style="top: 50px; left: 80px;">
            <img src="~/img/user.jpg" alt="Avatar" height="100" width="100" class=" rounded-3" style="border:10px solid #FFBE98; "/>
        </div>

        <div class="d-flex justify-content-end mt-2 ">
            <button class="rounded-pill mt-2 me-4 text-color-background px-3 py-1" style="background-color: #EA8348">Chỉnh sửa hồ sơ người dùng</button>
        </div>
    </div>
</div>