@using K_Bridge.Models
@{
    ViewData["Title"] = "Tài khoản của tôi";
}
<div>
    <div>
        <p class="text-color-header fw-bold fs-5">Tài khoản của tôi</p>
    </div>
    <div class="rounded-8 bg-main-color-layout position-relative pb-2" style="min-height: 400px;">
        <div class="rounded-top bg-main-color-header" style="min-height: 100px;"></div>
        <div class="rounded-3 position-absolute " style="top: 50px; left: 80px;">
            <img src="~/img/user.jpg" alt="Avatar" height="100" width="100" class=" rounded-3" style="border:10px solid #FFBE98; "/>
        </div>

        <div class="d-flex justify-content-end mt-2 ">
            <button class="rounded-pill btn-account-edit fw-bold mt-2 me-4 text-color-background px-4 py-2">Chỉnh sửa hồ sơ người dùng</button>
        </div>
        <div class="m-3 bg-main-color-background rounded-8">
            <div class="p-5 pb-2"> 
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase fs-12 text-color-logo fw-bold">Tên hiển thị</p>
                        <p class="fs-6 text-color-header">User</p>
                    </div>
                    <button class="btn-edit-profile px-4 py-1 rounded-8 h-25 w-25">Chỉnh sửa</button>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase fs-12 text-color-logo fw-bold">Tên đăng nhập</p>
                        <p class="fs-6 text-color-header">User13424</p>
                    </div>
                    <button class="btn-edit-profile px-4 py-1 rounded-8 h-25  w-25">Chỉnh sửa</button>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase fs-12 text-color-logo fw-bold">Email</p>
                        <p class="fs-6 text-color-header">User13424@gmail.com</p>
                    </div>
                    <button class="btn-edit-profile px-4 py-1 rounded-8 h-25  w-25">Chỉnh sửa</button>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase fs-12 text-color-logo fw-bold">Số điện thoại</p>
                        <p class="fs-6 text-color-header">Bạn chưa thêm số điện thoại nào</p>
                    </div>
                    <button class="btn-edit-profile px-4 py-1 rounded-8 h-25  w-25">Thêm mới</button>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase fs-12 text-color-logo fw-bold">Mật khẩu</p>
                        <p class="fs-6 text-color-header">******************</p>
                    </div>
                    <button class="btn-edit-profile px-4 py-1 rounded-8 h-25">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <p class="text-color-header fw-bold fs-5 ">Bài chủ đề hàng đầu</p>
        <div class="d-flex">
            <div class="text-color-header px-3">Thời gian </div>
            <img src="~/img/sort-up.png" alt="Alternate Text" width="20" style="height:20px"/>
        </div>
    </div>

    <div class="rounded-3 p-3 d-flex align-content-center justify-content-around" style="border: 1px solid #FFbe98;">
        <div class="mx-3 align-content-center">
            <img src="~/img/help_chat.png" alt="Help Chat" width="20" />
        </div>
        <div class="d-flex rounded-3 px-3 align-content-center justify-content-center" style="border: 1px solid #FFbe98;">
            0
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-color-header">
            Tiêu đề bài viết
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-white rounded-2 align-content-center" style="background-color: #FF4141">
            x
        </div>
        <div class="d-flex px-3 justify-content-center text-color-header py-1 rounded-2 align-content-center">
            20 phút trước
        </div>

    </div>
    <div class="rounded-3 p-3 d-flex align-content-center justify-content-around" style="border: 1px solid #FFbe98;">
        <div class="mx-3 align-content-center">
            <img src="~/img/help_chat_good.png" alt="Help Chat" width="20" />
        </div>
        <div class="d-flex rounded-3 px-3 align-content-center justify-content-center" style="background-color:  #00D462;">
            90
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-color-header">
            Tiêu đề bài viết
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-white rounded-2 align-content-center" style="background-color: #FF4141">
            x
        </div>
        <div class="d-flex px-3 justify-content-center text-color-header py-1 rounded-2 align-content-center">
            20 phút trước
        </div>
    </div>
    <div class="rounded-3 p-3 d-flex align-content-center justify-content-around" style="border: 1px solid #FFbe98;">
        <div class="mx-3 align-content-center">
            <img src="~/img/help_chat_bad.png" alt="Help Chat" width="20" />
        </div>
        <div class="d-flex rounded-3 px-3 align-content-center justify-content-center" style="background-color:  #FF4141;">
            -12
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-color-header">
            Tiêu đề bài viết
        </div>
        <div class="d-flex rounded-3 px-3 justify-content-center text-white rounded-2 align-content-center" style="background-color: #FF4141">
            x
        </div>
        <div class="d-flex px-3 justify-content-center text-color-header py-1 rounded-2 align-content-center">
            20 phút trước
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade modal-new-post-overall rounded-3"s style="overflow-x: hidden;" id="exampleModal" tabindex="-1"
     aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="border-radius: 20px;">
        <div class="modal-content">
            <div class="modal-header modal-new-post-header py-2 px-3">
                <h5 class="modal-title text-uppercase" id="newPostModalLabel">Xác nhận</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-main-color-layout d-flex flex-column py-4">
                <div class="text-color-header  justify-content-center flex-column m-auto" style="min-height:100px;">
                    <p class="fs-3 text-color-header fw-bold m-0 mt-2">Bạn chắc chắn chứ?</p>
                    <p class="text-color-headerfw-bold m-0 p-0">Các thay đổi sẽ không được lưu lại!</p>
              </div>
            </div>
            <div class="d-flex justify-content-center bg-main-color-layout pb-4 rounded-bottom">
                <button type="button" class="rounded-2 px-3 py-1 btn-confirm me-1" data-bs-dismiss="modal" style="min-width:148px;">Huỷ</button>
                <button type="button" class="rounded-2 px-3 py-1 btn-confirm ms-1" style="min-width:148px;">Đồng ý</button>
            </div>
        </div>
    </div>
</div>